<div *ngIf="user">
  <table class="table">
        <thead>
          <tr>
            <th><strong>Username</strong></th>
            <th><strong>Name</strong></th>
            <th><strong>Email</strong></th>
            <th><strong>ID</strong></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{user.user.username}}</td>
            <td>{{user.user.last_name}}, {{user.user.first_name}}</td>
            <td>{{user.user.email}}</td>
            <td>{{user.user._id}}</td>
          </tr>
        </tbody>
  </table>

  <button [routerLink]="['/users/edit/', user.user._id]">edit</button>
  <button (click)="deleteUser(user.user._id)">delete</button>

</div>

<!--<div *ngIf="user">
  <h1>{{user.user.first_name}}, {{user.user.last_name}}</h1>
  <div><strong>Username:</strong> {{user.user.username}}</div>
  <div><strong>Email:</strong> {{user.user.email}}</div>
</div>
-->
